body{
    background-color: rgb(24, 23, 23);
}

.nome{
    color: rgb(167, 151, 151);
    font-size: 55px;
    margin-left: 50px;
}

.bio{
    color: white;
    font-size: 20px;
    margin-left: 200px;
    margin-top: 100px;
}

.foto{
    border-radius: 50%;
    margin-left: 30px;
}

header .topo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 1200px;
}

.bio1{
    color: white;
    font-size: 20px;
    margin-left: 200px;
    margin-top: 50px;
}

